
@media screen and (min-width:  1300px){
    /* HEADER */

    .header{
        width: 100%;
        height: 5rem;
        box-shadow: 0 0.65rem 1.85rem #c8c8c87a;
        background-color: #ffffff;
        font-family: 'urbanist-900';
        position: fixed;
        top: 0;
    }


    .header .navigation-bar{
        height: 100%;
        display: flex !important;
        justify-content: center;
        align-items: center;
    }

    .header .navigation-bar ul{
        display: flex !important;
        margin-bottom: 0;
    }

        .hamburger-menu{
            display: none;
        }
    /* HEADER */

    /* MAIN */
    /* HOME */
     .home{
        height: 100%;
        width: 100%;
    }
     .home-description{
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 33.33333333%;
    }

    
.home-image{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 2rem;
    width: 66.66666667%;
}

 .home-image img{
    width: 40rem ;
}

 /* HOME */
     /* MAIN */
}

@media screen and (max-width:  1300px){
    /* HEADER */
        .header
        {
            width: 100%
        }
        .hamburger-menu{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0.5rem;
        }
        .header .navigation-bar{
            display: none;
        }
        .header .navigation-bar ul{
            flex-direction: column;
            padding-left: 0;
            /* margin-top: 40vh; */
            background-color: #ffffff;
            box-shadow: 0 0.65rem 1.85rem #c8c8c87a;

        }

    /* HEADER */

    /* MAIN */

     .home{
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

     .home-description{
        width: 100% !important;
        margin-top: 5rem;
    }

     .home-image{
        width: 100% !important;
        justify-content: center;
        padding: 0 !important;
    }

    .home-image img{
        width: 30rem ;
    }


  

    /* MAIN */
}


@media screen and (max-width: 1370px){
    .about .about-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .about .about-content .about-description{
        width: 100%;
    }


    
    .about .about-content .about-image{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .about .about-content .about-description{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 2rem;
    }

    .about .about-content .about-description .about-description-more-information{
        display: flex;
        flex-direction: column;
    }

    .about .about-content .about-description .about-description-more-information ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about .about-content .about-description .about-description-more-information ul li {
        margin: 1rem 0;
    }

 

}

